// Import des polices depuis Google Fonts ou tout autre service
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');





// Définition des variables pour les polices
$font-title: 'Lato',
sans-serif;
$font-body: 'Lexend',
sans-serif;
$font-button: 'Oswald',
sans-serif;


body,
p {
    font-family: $font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-title;
}

button,
.cta {
    font-family: $font-button;
}
