@import '../general/_typography.scss';
@import '../general/_vars.scss';
@import '../general/_style.scss';

#footer {
    background-color: $color-grey;
    color: $color-blue;
    padding: 2em 1em;
    display: flex;
    text-align: center;
    flex-direction: column;


    @media (min-width: 768px) {
        flex-direction: row;
    }

    .footer-links,
    .footer-menu,
    .footer-social {
        flex: 1;

        ul {
            list-style: none;
            padding: 0;

            li {
                margin: 0.5em 0;


                a {
                    text-decoration: none;
                    color: $color-blue;
                    font-size: 2em;


                    &:hover {
                        text-decoration: underline;
                        color: $color-green;
                    }
                }
            }
        }
    }

    .footer-social {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            margin: 0 0.5em;
            font-size: 1.5em;
        }
    }
}
