@import '../general/_typography.scss';
@import '../general/_vars.scss';
@import '../general/style.scss';


#headerVisitor {

    .banniere-titre {
        margin-bottom: 1em;
    }
    .navbar-mobile {
        display: none;
        align-items: center;

        i.fas.fa-bars {
            position: fixed;
            z-index: 999;
            top: 1em;
            right: 1em;
            font-size: 3rem;
            color: $color-orange;
        }

        .modal {
            transition: top 0.9s;
            background-color: $color-grey;
            height: 100vh;
            position: fixed;
            top: -100vh;
            left: 0;
            width: 100%;
            opacity: 0.9;
            z-index: 3;
        }

        .move-icon {
            transform: translateY(180px);
            transition: transform 1.1s ease-out;

        }

        .navbar-mobile-list {
            display: flex;
            height: 60vh;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            right: 6em;
            top: 3em;

            a {
                font-size: 3em;
                font-weight: 800;
                color: $color-orange;
                transition: color 0.3s ease, background-color 0.3s ease;


                &:hover {
                    color: $color-orange;
                    background-color: $color-white;
                    border-radius: 1rem;
                }
            }
        }

        .change-modal {
            top: 0;
        }
    }

    .social-icons-mobile {
        display: flex;
        position: relative;
        top: 10em;
        z-index: 3;

        a {
            margin: 20px;
        }

        i {
            transition: all 0.5s ease;
            top: -80px;
            position: relative;
            text-align: start;
        }
    }
    
    l {
        li.logo {
            a {
                letter-spacing: -1px;
                span.drive {
                    color: $color-blue;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    margin-right: -2px;
                }
                span.safe {
                    color: $color-green;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    margin-right: -2px;
                }
                span.control {
                    color: $color-orange;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                    margin-right: -2px;
                }
            }
        }
    }

    @media screen and (min-width: 801px) {



        .navbar-mobile,
        .navbar-desktop {
            ul.navbar-mobile-list,
            ul {
                li.logo {
                    a {
                        letter-spacing: -1px;
                        span.drive {
                            color: $color-blue; // Couleur pour "Drive"
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                            margin-right: -2px;
                        }
                        span.safe {
                            color: $color-green;
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                            margin-right: -2px;

                        }
                        span.control {
                            color: $color-orange; // Couleur pour "Control"
                            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
                            margin-right: -2px;
                        }

                         span {
                        position: relative;  // Position relative pour le déplacement
                        right: -100%;  // Position initiale à l'extérieur du cadre
                        opacity: 0;  // Rendre initialement transparent

                        // Animation
                        animation: slide-in 1s ease-out forwards;
                    }

                    span.drive {
                        animation-delay: 1s;  // Délai de 1 seconde pour "Drive"
                    }
                    
                    span:nth-child(2) {
                        animation-delay: 2s;  // Délai de 2 secondes pour "Safe"
                    }
                    
                    span.control {
                        animation-delay: 3s;  // Délai de 3 secondes pour "Control"
                    }
                }
            }
        }
    }

    // Définition de l'animation
    @keyframes slide-in {
        to {
            right: 0;  // Position finale
            opacity: 1;  // Rendre complètement visible
        }
    }

            .navbar-desktop {
                display: flex;
                justify-content: space-between;
                padding: 0;
                background-color: $color-grey;
                height: 10em;
                align-items: center;


                ul {
                    display: flex; // Ajouté pour aligner horizontalement
                    justify-content: space-around; // Ajouté pour espacer les éléments
                    width: 100%; // Ajouté pour occuper toute la largeur
                    margin: 0; // Ajouté pour enlever les marges
                    padding: 0; // Ajouté pour enlever les paddings
                    position: relative;




                }

                li {
                    position: relative; // Ajouté pour le positionnement correct de l'indicateur
                    z-index: 1; // Ajouté pour mettre les liens au-dessus de l'indicateur
                }

                .indicator {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    height: 5px; // Hauteur de l'indicateur
                    width: 0;
                    background-color: $color-green; // Couleur de l'indicateur
                    transition: all 0.5s ease; // Animation
                }



                a {
                    color: $color-blue;
                    font-weight: 700;
                    font-size: 3em;


                    transition: color 0.3s ease, background-color 0.3s ease; // &:hover {
                    //     color: $color-blue;
                    //     background-color: $color-orange;
                    //     padding: 1rem;
                    //     border-radius: 1rem;
                    // }
                }


            }


            .navbar-mobile {
                display: none;
            }
        }
        @media screen and (max-width: 800px) {
            .navbar-desktop {
                display: none;
            }
            .navbar-mobile {
                display: block;
            }
        }




    }
