@import '../general/_vars.scss';
@import '../general/style.scss';
@import '../general/typography.scss';

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../../images/background-road.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: backgroundGrow 20s infinite alternate;
    @keyframes backgroundGrow {
        0% {
            background-size: 100% 100%;
        }
        100% {
            background-size: 130% 130%;
        }
    }

    .wrapper {
        width: 520px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        box-shadow: 0 0 10px rgba(0, 0, 0, .5);
        color: $color-white;
        border-radius: 10px;
        padding: 30px 40px;
        font-family: $font-button;

        h2 {
            font-size: 3em;
            text-align: center;
            margin-bottom: 20px;
            font-family: $font-button;
            text-transform: uppercase;
        }

        .input-box {
            width: 100%;
            height: 60px;
            position: relative;
            margin-top: 20px;
            font-size: 2em;
            text-align: left;

            label {
                position: absolute;
                top: 50%;
                left: 70px;
                transform: translateY(-50%);
                font-size: 0.8em;
                text-transform: uppercase;
            }
            .hidden {
                display: none;
            }

            .icon {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
                font-size: 1.5em;

                ion-icon {
                    font-size: inherit;
                }
            }

            input {
                width: 100%;
                height: 100%;
                background: transparent;
                border: none;
                outline: none;
                border: 2px solid rgba(255, 255, 255, .2);
                border-radius: 40px;
                font-size: 1.3em;
                color: #fff;
                padding: 20px 40px 20px 80px;
            }

            input::placeholder {
                color: #fff;
            }
        }

        .remember-forgot {
            display: flex;
            justify-content: space-between;
            font-size: 1.8em;
            margin: 15px 5px 15px;

            label input {

                font-size: 1.8em;
                margin-right: 3px;

            }

            a {
                color: $color-white;
                text-decoration: none;
            }

            a:hover {

                color: $color-blue;
            }
        }

        .btn {
            width: 100%;
            height: 45px;
            background: $color-white;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            cursor: pointer;
            color: $color-blue;
            text-transform: uppercase;

            margin-bottom: 20px;
            font-size: 2em;
        }

        .btn:hover {
            color: $color-blue;
            background-color: $color-green;
        }

        .register-link {
            font-size: 1.8em;
            text-align: center;
            margin: 20px 0 15px;
            color: $color-white;
            text-decoration: underline;


            p a {
                color: $color-white;
                text-decoration: none;
                font-weight: 600;
            }

            p:hover {
                text-decoration: underline;
                color: $color-blue;
            }
        }
    }
}

.remember-forgot label:hover {
    color: $color-blue;
}

@media (min-width: 600px) {
    #login .wrapper .input-box {
        .icon {
            font-size: 1.8em;
        }

        input {
            padding-left: 85px;
        }
    }
}

@media (min-width: 900px) {
    #login .wrapper .input-box {
        .icon {
            font-size: 2em;
        }

        input {
            padding-left: 90px;
        }
    }
}
