@import '../general/vars.scss';
#view-message {

    h1,
    h2 {
        margin-bottom: 15px;
        color: $color-blue;
    }

    p {
        margin-bottom: 20px;
        color: $color-grey;
    }

    a {
        display: inline-block;
        margin: 5px;
        padding: 10px;
        border: 1px solid $color-grey;
        text-decoration: none;
        color: $color-orange;

    } // Styles pour tablettes et ordinateurs
    @media screen and (min-width: 768px) {
        body {
            margin: 40px;
        }

        h1,
        h2 {
            font-size: 2em;
        }

        p {
            font-size: 1.2em;
        }

        a {
            font-size: 1.2em;
            padding: 15px;
        }
    }
}



#message-list {

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        background-color: $color-grey;

        th {
            background-color: $color-blue;
            color: $color-white;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid $color-orange;
        }

        tr:nth-child(even) {
            background-color: $color-green;
            color: $color-white;
        }
    }

    @media screen and (min-width: 768px) {
        table {
            display: table;
            overflow-x: unset;
        }
    }


}
