@import '../general/_typography.scss';
@import '../general/_vars.scss';
@import '../general/style.scss';
@import '_reset.scss';


#main-content {

   
    button,
    .cta {
        font-family: $font-button;
    } // Conteneur principal
    #main-content {
        padding: 10px;
    } // Sections
    section {
        margin-bottom: 20px;
        position: relative;
        background-color: rgba($color-grey, 0.3);
        padding: 20px;
        border-radius: 8px;

        h1 {
            color: $color-blue;
        }

        h2 {
            color: $color-blue;
        }

        h3 {
            color: $color-blue;
        }

        p,
        ul {
            text-align: justify;
        }

        ul {
            list-style: disc inside;

            li {
                margin-bottom: 5px;
            }
        }
    } // Boutons et liens
    button,
    .cta {
        background-color: $color-orange;
        color: $color-white;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        text-transform: uppercase;
    } // Responsivité pour les écrans plus grands
    @media (min-width: 768px) {
        #main-content {
            padding: 20px;
            background-color: $color-green;
        }

        h1,
        h2,
        h3 {
            margin: 20px 0;
        }

        h1 {
            text-align: center;
            font-size: 1.8em;
            font-family: $font-title;
            margin: 30px 0;
            font-weight: bold;
            color: $color-blue;
        }


        section {
            margin-bottom: 40px;
        }

        ul li {
            margin-bottom: 10px;
        }

        button,
        .cta {
            padding: 10px 20px;
        }
    }
}
