

@import '../general/_vars.scss';



#services {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    background-image: url('../../images/femme-contente.jpg');
    line-height: 1.42em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 25% right 25%;

    .container {

        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        display: table;
        padding: 0;
        background-color: rgba(0, 0, 255, 0.5);
        opacity: 0.8;
    }

    .container th h2 {

        font-size: 1em;
        text-align: center;
        color: $color-white;

        text-transform: uppercase;
    }

    .container td {
        font-weight: bold;
        font-size: 1.5em;
        -webkit-box-shadow: 0 2px 2px -2px $color-black;
        -moz-box-shadow: 0 2px 2px -2px $color-black;
        box-shadow: 0 2px 2px -2px $color-black;
        padding: 2%;
        border-bottom: 1px solid $color-blue;
        text-align: center;
    }


    .container tr:nth-child(odd) {
        background-color: $color-grey;
    }


    .container tr:nth-child(even) {
        background-color: $color-white;
    }

    .container td:first-child {
        color: $color-blue;
    }

    .container tr:hover {
        background-color: $color-white;
        -webkit-box-shadow: 0 6px 6px -6px $color-black;
        -moz-box-shadow: 0 6px 6px -6px $color-black;
        box-shadow: 0 6px 6px -6px $color-black;
    }

    .container td:hover {
        background-color: $color-white;
        color: #403E10;
        font-weight: bold;
        box-shadow: $color-black -1px 1px, $color-black -2px 2px, $color-black -3px 3px, $color-black -4px 4px, $color-black -5px 5px, $color-black -6px 6px;
        transform: translate3d(6px, -6px, 0);
        transition-delay: 0s;
        transition-duration: 0.4s;
        transition-property: all;
        transition-timing-function: line;
    }
    .container thead tr:first-child th {
        background-color: black;
        color: white;

    }
}

// pour les écrans plus larges 

@media (min-width: 800px) {

    #services {
        background-size: cover;
        background-position: center;

        .container {
            width: 95vw;
            margin: 0 auto;
        }

        // Afficher la quatrième colonne (Coût) et l'en-tête correspondant 
        .container td:nth-child(4),
        .container th:nth-child(4) {
            display: table-cell;
        }
    }
}
