@import '../general/_vars.scss';



#updateProfil {

    background-image: url('../../images/homme-tablette.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    width: 100vw;
    background-position: top 35% right 33%;

    .container-profil {
        background-color: $color-grey;
        opacity: 0.9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 1em;
        text-align: center;
    }

    .message {
        background-color: $color-green;
        border: 1px solid #d6e9c6;
        color: $color-blue;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        font-size: 1.8em;
        font-weight: bold;
        text-align: center;
    }

    h1 {
        display: inline-block;
        text-align: center;
        margin-bottom: 0.5em;
        color: $color-blue;
        text-transform: uppercase;
        font-size: 2.1em;
        padding: 0.5em;
        border: 1px solid $color-blue;
        border-radius: 5px;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3),
        -3px -3px 6px rgba(255, 255, 255, 0.3);
    }

    h2 {
        color: $color-blue;
        margin-bottom: 1.5em;
        font-size: 1.5em;
    }
    span {
        font-weight: bold;
        text-transform: uppercase;
    }

    form {
        width: 100%;
        max-width: 400px;
        fieldset {
            border: none;
            margin-bottom: 1em;

            label {
                display: block;
                margin-bottom: 1em;
                color: $color-blue;
                text-transform: uppercase;
                font-size: 1.8em;
            }

            input {
                width: 100%;
                padding: 1em;
                border-radius: 4px;
                border: 1px solid $color-blue;
            }

            input[type="submit"] {
                background-color: $color-white;
                color: $color-blue;
                font-size: 1.8em;
                border: none;
                padding: 1em;
                cursor: pointer;
                border-radius: 4px;
                width: 100%;
                border-radius: 5px;
                text-transform: uppercase;
            }

            input[type="submit"]:hover {
                background-color: $color-green;
            }
        }


    } // Styles pour tablettes et desktop
    @media screen and (min-width: 481px) {
        form fieldset label,
        form fieldset input {
            font-size: 1.2em;
        }

        h1 {
            font-size: 2.5em;
        }

        h2 {
            font-size: 2em;
        }
    } // Styles pour desktop
    @media screen and (min-width: 769px) {
        form fieldset label,
        form fieldset input {
            font-size: 1.5em;
        }

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2.5em;
        }
    }
}
