

.weekend {
  background-color: #FFAA11  !important;
}
.day-full {
  background-color: #0B5EBF !important;  // Choisissez la couleur que vous souhaitez
}
.day-available {
  background-color: #0BBF64;
}

