#message-list {

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
        background-color: $color-grey;

        th {
            background-color: $color-blue;
            color: $color-white;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border: 1px solid $color-orange;
        }

        tr:nth-child(even) {
            background-color: $color-green;
            color: $color-white;
        }
    }

    @media screen and (min-width: 768px) {
        table {
            display: table;
            overflow-x: unset;
        }
    }


}
