@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

#headerAdmin h1 {
  text-align: center;
  margin-bottom: 1em;
  font-size: 3em;
}
#headerAdmin .navbar-mobile {
  display: flex;
  align-items: center;
}
#headerAdmin .navbar-mobile i.fas.fa-bars {
  position: fixed;
  z-index: 999;
  top: 1em;
  right: 1em;
  font-size: 3rem;
  color: #FFAA11;
}
#headerAdmin .navbar-mobile .modal {
  transition: top 0.9s;
  background-color: #D3D3D3;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 3;
}
#headerAdmin .navbar-mobile .modal.change-modal {
  top: 0;
}
#headerAdmin .navbar-mobile .modal .navbar-mobile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  height: 60vh;
  position: relative;
  top: 3em;
}
#headerAdmin .navbar-mobile .modal .navbar-mobile-list a {
  font-size: 3em;
  margin-bottom: 1em;
  color: #FFAA11;
  transition: color 0.3s ease, background-color 0.3s ease;
}
#headerAdmin .navbar-mobile .modal .navbar-mobile-list a:hover {
  background-color: #FFF;
  border-radius: 1rem;
  color: #0B5EBF;
}
#headerAdmin .navbar-desktop {
  display: none;
  justify-content: space-between;
  background-color: #D3D3D3;
  padding: 1em;
  align-items: center;
  height: 10em;
}
#headerAdmin .navbar-desktop ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
#headerAdmin .navbar-desktop ul li {
  position: relative;
}
#headerAdmin .navbar-desktop ul li a {
  color: #0B5EBF;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
}
#headerAdmin .navbar-desktop ul li a:hover {
  background-color: #D3D3D3;
  color: #FFAA11;
}
#headerAdmin .navbar-desktop ul .indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #0BBF64;
  transition: all 0.5s ease;
}
@media screen and (min-width: 801px) {
  #headerAdmin .navbar-mobile {
    display: none;
  }
  #headerAdmin .navbar-desktop {
    display: flex;
  }
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

#homepage .btn-appointment {
  background-color: #0BBF64;
  color: #FFF;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#homepage .btn-appointment:hover {
  background-color: #dd8e00;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -54%);
}
#homepage #slider-promo-section .slider {
  height: 50vh;
  position: relative;
  text-align: center;
  z-index: 1;
}
#homepage #slider-promo-section .slider img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
#homepage #slider-promo-section .slider img.active {
  opacity: 1;
}
#homepage #slider-promo-section .slider .suivant,
#homepage #slider-promo-section .slider .precedent {
  color: #fff;
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (min-width: 768px) {
  #homepage #slider-promo-section .slider .suivant,
  #homepage #slider-promo-section .slider .precedent {
    font-size: 3em;
  }
}
#homepage #slider-promo-section .slider .suivant {
  right: 0.5em;
}
@media (min-width: 768px) {
  #homepage #slider-promo-section .slider .suivant {
    right: 1em;
  }
}
#homepage #slider-promo-section .slider .precedent {
  left: 0.5em;
}
@media (min-width: 768px) {
  #homepage #slider-promo-section .slider .precedent {
    left: 1em;
  }
}
#homepage #schedule-section .container-homepage {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 801px) {
  #homepage #schedule-section .container-homepage {
    flex-direction: row;
  }
}
#homepage #schedule-section .container-homepage .schedule-container {
  width: 100%;
}
@media screen and (min-width: 801px) {
  #homepage #schedule-section .container-homepage .schedule-container {
    width: 45%;
  }
}
#homepage #schedule-section .container-homepage .map-container {
  width: 100%;
}
@media screen and (min-width: 801px) {
  #homepage #schedule-section .container-homepage .map-container {
    width: 45%;
  }
}
#homepage #schedule-section .container-homepage .map-container iframe {
  width: 100%;
  height: auto;
}
#homepage #schedule-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}
#homepage #schedule-table th,
#homepage #schedule-table td {
  border: 1px solid #ddd;
  padding: 8px;
}
#homepage #schedule-table th {
  background-color: #f2f2f2;
}
#homepage #schedule-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#homepage #schedule-table .closed {
  background-color: #ffcccc;
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

#view-message h1,
#view-message h2 {
  margin-bottom: 15px;
  font-family: "Lato", sans-serif;
  color: #0B5EBF;
}
#view-message p {
  margin-bottom: 20px;
  font-family: "Lexend", sans-serif;
  color: #D3D3D3;
}
#view-message a {
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px solid #D3D3D3;
  text-decoration: none;
  color: #FFAA11;
  font-family: "Oswald", sans-serif;
}
@media screen and (min-width: 768px) {
  #view-message body {
    margin: 40px;
  }
  #view-message h1,
  #view-message h2 {
    font-size: 2em;
  }
  #view-message p {
    font-size: 1.2em;
  }
  #view-message a {
    font-size: 1.2em;
    padding: 15px;
  }
}

#message-list table {
  width: 100%;
  display: block;
  overflow-x: auto;
  background-color: #D3D3D3;
}
#message-list table th {
  background-color: #0B5EBF;
  color: #FFF;
}
#message-list table th,
#message-list table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #FFAA11;
}
#message-list table tr:nth-child(even) {
  background-color: #0BBF64;
  color: #FFF;
}
@media screen and (min-width: 768px) {
  #message-list table {
    display: table;
    overflow-x: unset;
  }
}

#planing-user .weekend {
  background-color: #FFAA11 !important;
}
#planing-user .day-full {
  background-color: #0B5EBF !important;
}
#planing-user .day-available {
  background-color: #0BBF64;
}
#planing-user .fc-day {
  font-size: 18px;
  /* Change la taille du texte */
  font-family: "Arial";
  /* Change la police */
  color: #0B5EBF;
  /* Change la couleur du texte */
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

#headerUser .banniere-titre {
  margin-bottom: 1em;
}
#headerUser .navbar-mobile {
  display: none;
  align-items: center;
}
#headerUser .navbar-mobile i.fas.fa-bars {
  position: fixed;
  z-index: 999;
  top: 1em;
  right: 1em;
  font-size: 3rem;
  color: #FFAA11;
}
#headerUser .navbar-mobile .modal {
  transition: top 0.9s;
  background-color: #D3D3D3;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 3;
}
#headerUser .navbar-mobile .move-icon {
  transform: translateY(180px);
  transition: transform 1.1s ease-out;
}
#headerUser .navbar-mobile .navbar-mobile-list {
  display: flex;
  height: 60vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  right: 6em;
  top: 3em;
}
#headerUser .navbar-mobile .navbar-mobile-list a {
  font-size: 3em;
  font-weight: 800;
  color: #FFAA11;
  transition: color 0.3s ease, background-color 0.3s ease;
}
#headerUser .navbar-mobile .navbar-mobile-list a:hover {
  color: #FFAA11;
  background-color: #FFF;
  border-radius: 1rem;
}
#headerUser .navbar-mobile .change-modal {
  top: 0;
}
#headerUser .social-icons-mobile {
  display: flex;
  position: relative;
  top: 15em;
  z-index: 3;
}
#headerUser .social-icons-mobile a {
  margin: 20px;
}
#headerUser .social-icons-mobile i {
  transition: all 0.5s ease;
  top: -80px;
  position: relative;
  text-align: start;
}
#headerUser ul li.logo a {
  letter-spacing: -1px;
}
#headerUser ul li.logo a span.drive {
  color: #0B5EBF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-right: -2px;
}
#headerUser ul li.logo a span.safe {
  color: #0BBF64;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-right: -2px;
}
#headerUser ul li.logo a span.control {
  color: #FFAA11;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-right: -2px;
}
@media screen and (min-width: 801px) {
  #headerUser .navbar-mobile ul.navbar-mobile-list li.logo a,
  #headerUser .navbar-mobile ul li.logo a,
  #headerUser .navbar-desktop ul.navbar-mobile-list li.logo a,
  #headerUser .navbar-desktop ul li.logo a {
    letter-spacing: -1px;
  }
  #headerUser .navbar-mobile ul.navbar-mobile-list li.logo a span.drive,
  #headerUser .navbar-mobile ul li.logo a span.drive,
  #headerUser .navbar-desktop ul.navbar-mobile-list li.logo a span.drive,
  #headerUser .navbar-desktop ul li.logo a span.drive {
    color: #0B5EBF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: -2px;
  }
  #headerUser .navbar-mobile ul.navbar-mobile-list li.logo a span.safe,
  #headerUser .navbar-mobile ul li.logo a span.safe,
  #headerUser .navbar-desktop ul.navbar-mobile-list li.logo a span.safe,
  #headerUser .navbar-desktop ul li.logo a span.safe {
    color: #0BBF64;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: -2px;
  }
  #headerUser .navbar-mobile ul.navbar-mobile-list li.logo a span.control,
  #headerUser .navbar-mobile ul li.logo a span.control,
  #headerUser .navbar-desktop ul.navbar-mobile-list li.logo a span.control,
  #headerUser .navbar-desktop ul li.logo a span.control {
    color: #FFAA11;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: -2px;
  }
  #headerUser .navbar-mobile ul.navbar-mobile-list li.logo a span,
  #headerUser .navbar-mobile ul li.logo a span,
  #headerUser .navbar-desktop ul.navbar-mobile-list li.logo a span,
  #headerUser .navbar-desktop ul li.logo a span {
    position: relative;
    right: -100%;
    opacity: 0;
    animation: slide-in 1s ease-out forwards;
  }
  #headerUser .navbar-mobile ul.navbar-mobile-list li.logo a span.drive,
  #headerUser .navbar-mobile ul li.logo a span.drive,
  #headerUser .navbar-desktop ul.navbar-mobile-list li.logo a span.drive,
  #headerUser .navbar-desktop ul li.logo a span.drive {
    animation-delay: 1s;
  }
  #headerUser .navbar-mobile ul.navbar-mobile-list li.logo a span:nth-child(2),
  #headerUser .navbar-mobile ul li.logo a span:nth-child(2),
  #headerUser .navbar-desktop ul.navbar-mobile-list li.logo a span:nth-child(2),
  #headerUser .navbar-desktop ul li.logo a span:nth-child(2) {
    animation-delay: 2s;
  }
  #headerUser .navbar-mobile ul.navbar-mobile-list li.logo a span.control,
  #headerUser .navbar-mobile ul li.logo a span.control,
  #headerUser .navbar-desktop ul.navbar-mobile-list li.logo a span.control,
  #headerUser .navbar-desktop ul li.logo a span.control {
    animation-delay: 3s;
  }
  @keyframes slide-in {
    to {
      right: 0;
      opacity: 1;
    }
  }
  #headerUser .navbar-desktop {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #D3D3D3;
    height: 10em;
    align-items: center;
  }
  #headerUser .navbar-desktop ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }
  #headerUser .navbar-desktop li {
    position: relative;
    z-index: 1;
  }
  #headerUser .navbar-desktop .indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #0BBF64;
    transition: all 0.5s ease;
  }
  #headerUser .navbar-desktop a {
    color: #0B5EBF;
    font-weight: 700;
    font-size: 3em;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  #headerUser .navbar-mobile {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #headerUser .navbar-desktop {
    display: none;
  }
  #headerUser .navbar-mobile {
    display: block;
  }
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

#headerVisitor .banniere-titre {
  margin-bottom: 1em;
}
#headerVisitor .navbar-mobile {
  display: none;
  align-items: center;
}
#headerVisitor .navbar-mobile i.fas.fa-bars {
  position: fixed;
  z-index: 999;
  top: 1em;
  right: 1em;
  font-size: 3rem;
  color: #FFAA11;
}
#headerVisitor .navbar-mobile .modal {
  transition: top 0.9s;
  background-color: #D3D3D3;
  height: 100vh;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 3;
}
#headerVisitor .navbar-mobile .move-icon {
  transform: translateY(180px);
  transition: transform 1.1s ease-out;
}
#headerVisitor .navbar-mobile .navbar-mobile-list {
  display: flex;
  height: 60vh;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  right: 6em;
  top: 3em;
}
#headerVisitor .navbar-mobile .navbar-mobile-list a {
  font-size: 3em;
  font-weight: 800;
  color: #FFAA11;
  transition: color 0.3s ease, background-color 0.3s ease;
}
#headerVisitor .navbar-mobile .navbar-mobile-list a:hover {
  color: #FFAA11;
  background-color: #FFF;
  border-radius: 1rem;
}
#headerVisitor .navbar-mobile .change-modal {
  top: 0;
}
#headerVisitor .social-icons-mobile {
  display: flex;
  position: relative;
  top: 10em;
  z-index: 3;
}
#headerVisitor .social-icons-mobile a {
  margin: 20px;
}
#headerVisitor .social-icons-mobile i {
  transition: all 0.5s ease;
  top: -80px;
  position: relative;
  text-align: start;
}
#headerVisitor l li.logo a {
  letter-spacing: -1px;
}
#headerVisitor l li.logo a span.drive {
  color: #0B5EBF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-right: -2px;
}
#headerVisitor l li.logo a span.safe {
  color: #0BBF64;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-right: -2px;
}
#headerVisitor l li.logo a span.control {
  color: #FFAA11;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-right: -2px;
}
@media screen and (min-width: 801px) {
  #headerVisitor .navbar-mobile ul.navbar-mobile-list li.logo a,
  #headerVisitor .navbar-mobile ul li.logo a,
  #headerVisitor .navbar-desktop ul.navbar-mobile-list li.logo a,
  #headerVisitor .navbar-desktop ul li.logo a {
    letter-spacing: -1px;
  }
  #headerVisitor .navbar-mobile ul.navbar-mobile-list li.logo a span.drive,
  #headerVisitor .navbar-mobile ul li.logo a span.drive,
  #headerVisitor .navbar-desktop ul.navbar-mobile-list li.logo a span.drive,
  #headerVisitor .navbar-desktop ul li.logo a span.drive {
    color: #0B5EBF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: -2px;
  }
  #headerVisitor .navbar-mobile ul.navbar-mobile-list li.logo a span.safe,
  #headerVisitor .navbar-mobile ul li.logo a span.safe,
  #headerVisitor .navbar-desktop ul.navbar-mobile-list li.logo a span.safe,
  #headerVisitor .navbar-desktop ul li.logo a span.safe {
    color: #0BBF64;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: -2px;
  }
  #headerVisitor .navbar-mobile ul.navbar-mobile-list li.logo a span.control,
  #headerVisitor .navbar-mobile ul li.logo a span.control,
  #headerVisitor .navbar-desktop ul.navbar-mobile-list li.logo a span.control,
  #headerVisitor .navbar-desktop ul li.logo a span.control {
    color: #FFAA11;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-right: -2px;
  }
  #headerVisitor .navbar-mobile ul.navbar-mobile-list li.logo a span,
  #headerVisitor .navbar-mobile ul li.logo a span,
  #headerVisitor .navbar-desktop ul.navbar-mobile-list li.logo a span,
  #headerVisitor .navbar-desktop ul li.logo a span {
    position: relative;
    right: -100%;
    opacity: 0;
    animation: slide-in 1s ease-out forwards;
  }
  #headerVisitor .navbar-mobile ul.navbar-mobile-list li.logo a span.drive,
  #headerVisitor .navbar-mobile ul li.logo a span.drive,
  #headerVisitor .navbar-desktop ul.navbar-mobile-list li.logo a span.drive,
  #headerVisitor .navbar-desktop ul li.logo a span.drive {
    animation-delay: 1s;
  }
  #headerVisitor .navbar-mobile ul.navbar-mobile-list li.logo a span:nth-child(2),
  #headerVisitor .navbar-mobile ul li.logo a span:nth-child(2),
  #headerVisitor .navbar-desktop ul.navbar-mobile-list li.logo a span:nth-child(2),
  #headerVisitor .navbar-desktop ul li.logo a span:nth-child(2) {
    animation-delay: 2s;
  }
  #headerVisitor .navbar-mobile ul.navbar-mobile-list li.logo a span.control,
  #headerVisitor .navbar-mobile ul li.logo a span.control,
  #headerVisitor .navbar-desktop ul.navbar-mobile-list li.logo a span.control,
  #headerVisitor .navbar-desktop ul li.logo a span.control {
    animation-delay: 3s;
  }
  @keyframes slide-in {
    to {
      right: 0;
      opacity: 1;
    }
  }
  #headerVisitor .navbar-desktop {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #D3D3D3;
    height: 10em;
    align-items: center;
  }
  #headerVisitor .navbar-desktop ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }
  #headerVisitor .navbar-desktop li {
    position: relative;
    z-index: 1;
  }
  #headerVisitor .navbar-desktop .indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 0;
    background-color: #0BBF64;
    transition: all 0.5s ease;
  }
  #headerVisitor .navbar-desktop a {
    color: #0B5EBF;
    font-weight: 700;
    font-size: 3em;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  #headerVisitor .navbar-mobile {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #headerVisitor .navbar-desktop {
    display: none;
  }
  #headerVisitor .navbar-mobile {
    display: block;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

#services {
  background-color: #D3D3D3;
  text-align: center;
  padding: 20px;
}
#services h2,
#services h3 {
  display: inline-block;
  color: #0B5EBF;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding: 0.5em;
  margin: 1em;
  font-family: "Lato", sans-serif;
  border: 1px solid #0B5EBF;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(255, 255, 255, 0.3);
}
#services h1 {
  display: inline-block;
  text-align: center;
  margin-bottom: 0.5em;
  color: #0B5EBF;
  font-weight: bold;
  font-size: 2.1em;
  padding: 0.5em;
  font-family: "Lato", sans-serif;
  border: 1px solid #0B5EBF;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(255, 255, 255, 0.3);
}
#services section {
  margin-bottom: 20px;
  position: relative;
  background-color: rgba(211, 211, 211, 0.3);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
#services section p,
#services section ul {
  text-align: left;
  padding: 1em;
  font-size: 1.8em;
  font-family: "Lexend", sans-serif, sans-serif;
}
#services section ul {
  list-style: disc inside;
  padding: 0.5em;
}
#services section ul li {
  margin-bottom: 5px;
  padding: 0.5em;
}
#services button,
#services .cta {
  background-color: #FFAA11;
  color: #FFF;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 768px) {
  #services h1,
  #services h2,
  #services h3 {
    font-size: 2em;
  }
  #services h1 {
    margin: 20px 0;
  }
  #services section {
    margin-bottom: 40px;
  }
  #services p,
  #services ul {
    font-size: 1.2em;
  }
  #services ul li {
    margin-bottom: 10px;
  }
  #services button,
  #services .cta {
    padding: 10px 20px;
  }
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

#footer {
  background-color: #D3D3D3;
  color: #0B5EBF;
  padding: 2em 1em;
  display: flex;
  text-align: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  #footer {
    flex-direction: row;
  }
}
#footer .footer-links,
#footer .footer-menu,
#footer .footer-social {
  flex: 1;
}
#footer .footer-links ul,
#footer .footer-menu ul,
#footer .footer-social ul {
  list-style: none;
  padding: 0;
}
#footer .footer-links ul li,
#footer .footer-menu ul li,
#footer .footer-social ul li {
  margin: 0.5em 0;
}
#footer .footer-links ul li a,
#footer .footer-menu ul li a,
#footer .footer-social ul li a {
  text-decoration: none;
  color: #0B5EBF;
  font-size: 2em;
}
#footer .footer-links ul li a:hover,
#footer .footer-menu ul li a:hover,
#footer .footer-social ul li a:hover {
  text-decoration: underline;
  color: #0BBF64;
}
#footer .footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer .footer-social a {
  margin: 0 0.5em;
  font-size: 1.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../images/background-road.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: backgroundGrow 20s infinite alternate;
}
@keyframes backgroundGrow {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 130% 130%;
  }
}
#login .wrapper {
  width: 520px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  border-radius: 10px;
  padding: 30px 40px;
  font-family: "Oswald", sans-serif;
}
#login .wrapper h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Oswald", sans-serif;
}
#login .wrapper .input-box {
  width: 100%;
  height: 60px;
  position: relative;
  margin-top: 20px;
  font-size: 2em;
  text-align: left;
}
#login .wrapper .input-box label {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  font-size: 0.8em;
}
#login .wrapper .input-box .hidden {
  display: none;
}
#login .wrapper .input-box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
#login .wrapper .input-box .icon ion-icon {
  font-size: inherit;
}
#login .wrapper .input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 1.3em;
  color: #fff;
  padding: 20px 40px 20px 80px;
}
#login .wrapper .input-box input::placeholder {
  color: #fff;
}
#login .wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 1.8em;
  margin: 15px 5px 15px;
}
#login .wrapper .remember-forgot label input {
  font-size: 1.8em;
  margin-right: 3px;
}
#login .wrapper .remember-forgot a {
  color: #FFF;
  text-decoration: none;
}
#login .wrapper .remember-forgot a:hover {
  color: #0B5EBF;
}
#login .wrapper .btn {
  width: 100%;
  height: 45px;
  background: #FFAA11;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #FFF;
  margin-bottom: 20px;
  font-size: 2em;
}
#login .wrapper .btn:hover {
  color: #0B5EBF;
  background-color: #0BBF64;
}
#login .wrapper .register-link {
  font-size: 1.8em;
  text-align: center;
  margin: 20px 0 15px;
  color: #FFF;
  text-decoration: underline;
}
#login .wrapper .register-link p a {
  color: #FFF;
  text-decoration: none;
  font-weight: 600;
}
#login .wrapper .register-link p:hover {
  text-decoration: underline;
  color: #0B5EBF;
}

.remember-forgot label:hover {
  color: #0B5EBF;
}

@media (min-width: 600px) {
  #login .wrapper .input-box .icon {
    font-size: 1.8em;
  }
  #login .wrapper .input-box input {
    padding-left: 85px;
  }
}
@media (min-width: 900px) {
  #login .wrapper .input-box .icon {
    font-size: 2em;
  }
  #login .wrapper .input-box input {
    padding-left: 90px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

#register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../images/background-road.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  animation: backgroundGrow 20s infinite alternate;
}
@keyframes backgroundGrow {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 130% 130%;
  }
}
#register .wrapper {
  width: 50%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #FFF;
  border-radius: 10px;
  padding: 30px 40px;
}
#register .wrapper h2 {
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}
#register .wrapper .input-box {
  width: 100%;
  position: relative;
  margin-top: 20px;
  font-size: 1.8em;
}
#register .wrapper .input-box label {
  position: absolute;
  top: 50%;
  left: 70px;
  transform: translateY(-50%);
  font-size: 0.8em;
}
#register .wrapper .input-box .hidden {
  display: none;
}
#register .wrapper .input-box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
#register .wrapper .input-box .icon ion-icon {
  font-size: inherit;
}
#register .wrapper .input-box input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 1.3em;
  color: #FFF;
  padding: 20px 40px 20px 80px;
}
#register .wrapper .input-box input::placeholder {
  color: #FFF;
}
#register .wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  margin: 15px 5px 15px;
}
#register .wrapper .remember-forgot label input {
  accent-color: #0B5EBF;
  margin-right: 3px;
  transform: scale(1.5);
}
#register .wrapper .remember-forgot a {
  color: #FFF;
  text-decoration: none;
}
#register .wrapper .remember-forgot a:hover {
  text-decoration: underline;
  color: #0B5EBF;
}
#register .wrapper .btn {
  width: 100%;
  height: 45px;
  background: #FFAA11;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #FFF;
  margin-bottom: 20px;
  font-size: 2em;
}
#register .wrapper .btn:hover {
  color: #0B5EBF;
  background-color: #0BBF64;
}
#register .wrapper .register-link {
  font-size: 1.8em;
  text-align: center;
  margin: 20px 0 15px;
  color: #FFF;
  text-decoration: underline;
}
#register .wrapper .register-link p a {
  color: #FFF;
  text-decoration: none;
  font-weight: 600;
}
#register .wrapper .register-link p a:hover {
  text-decoration: underline;
  color: #0B5EBF;
}

@media (min-width: 600px) {
  #wrapper .form-box .input-box .icon {
    font-size: 1.8em;
  }
  #wrapper .form-box .input-box input {
    padding-left: 85px;
  }
}
@media (min-width: 900px) {
  #wrapper .form-box .input-box .icon {
    font-size: 2em;
  }
  #wrapper .form-box .input-box input {
    padding-left: 90px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

body,
html {
  height: 100%;
  margin: 0;
}

#createMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../../images/background-road2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  text-align: center;
}
#createMessage h1,
#createMessage p {
  background: transparent;
  padding: 10px;
  border-radius: 10px;
  width: auto;
  text-align: center;
}
#createMessage h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  background-color: transparent;
  color: #FFF;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  text-shadow: 2px 2px 2px black;
}
#createMessage blockquote {
  padding: 10px;
  border-radius: 10px;
  font-style: italic;
  font-size: 1.5em;
  text-shadow: 2px 2px 2px black;
  color: #FFF;
}
#createMessage p {
  margin-bottom: 20px;
}
#createMessage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  color: #FFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 300px;
}
#createMessage form fieldset {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  position: relative;
}
#createMessage form fieldset label {
  font-size: 1.8em;
  display: block;
  margin-bottom: 10px;
}
#createMessage form fieldset input,
#createMessage form fieldset textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  font-size: 1.5em;
  color: #FFF;
  background: transparent;
  margin-top: 10px;
}
#createMessage form fieldset input[type=submit] {
  width: 100%;
  border: none;
  border-radius: 40px;
  background: #FFAA11;
  color: #FFF;
  font-size: 1.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#createMessage form fieldset input[type=submit]:hover {
  background-color: #0BBF64;
  color: #0B5EBF;
}
#createMessage a {
  color: #FFF;
  text-decoration: underline;
  font-size: 1.5em;
}
#createMessage a:hover {
  color: #0B5EBF;
}

@media (min-width: 600px) {
  #createMessage h1 {
    font-size: 2.5em;
  }
  #createMessage p {
    font-size: 1.8em;
  }
  #createMessage form {
    max-width: 400px;
  }
  #createMessage form fieldset label {
    font-size: 1.8em;
  }
  #createMessage form fieldset input,
  #createMessage form fieldset textarea {
    font-size: 1.8em;
  }
  #createMessage form fieldset input[type=submit] {
    font-size: 1.8em;
  }
  #createMessage a {
    font-size: 1.8em;
  }
}
@media (min-width: 900px) {
  #createMessage h1 {
    font-size: 3em;
  }
  #createMessage p {
    font-size: 2em;
    margin-bottom: 30px;
  }
  #createMessage form {
    max-width: 500px;
  }
  #createMessage form fieldset label {
    font-size: 2em;
  }
  #createMessage form fieldset input,
  #createMessage form fieldset textarea {
    font-size: 2em;
  }
}
#messageslist {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  margin: 0;
  padding: 0;
}
#messageslist table {
  width: 100%;
  min-height: 100%;
  display: block;
  overflow-x: auto;
  background-color: #D3D3D3;
  border-collapse: collapse;
}
#messageslist table th,
#messageslist table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #FFAA11;
  vertical-align: middle;
  font-size: 2em;
  font-weight: bold;
}
#messageslist table th {
  background-color: #0B5EBF;
  color: #FFF;
}
#messageslist table tr:nth-child(even) {
  background-color: #0BBF64;
  color: #FFF;
}
#messageslist table tr:nth-child(odd) {
  background-color: #D3D3D3;
  color: #FFF;
}
#messageslist table a {
  color: #0B5EBF;
  border: 1px solid #0B5EBF;
  padding: 5px;
  border-radius: 5px;
}
#messageslist table a:hover {
  background-color: #FFAA11;
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
  #messageslist table {
    display: table;
  }
}
@media screen and (min-width: 1025px) {
  #messageslist table {
    display: table;
  }
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

#messageView {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  width: 100vw;
  padding: 1em;
  background-color: #D3D3D3;
}
#messageView h1 {
  margin-bottom: 0.5em;
  color: #0B5EBF;
  border: 1px solid #0B5EBF;
  border-radius: 5px;
  padding: 0.5em;
  font-weight: bold;
  max-width: 70%;
  text-align: center;
  display: inline-block;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(255, 255, 255, 0.3);
}
#messageView h2,
#messageView p {
  margin-bottom: 1.5em;
  font-size: 1.5em;
}
#messageView h2 > span,
#messageView p > span {
  display: block;
}
#messageView h2 .label,
#messageView p .label {
  text-decoration: underline;
  color: #0B5EBF;
  border-radius: 5px;
  font-size: 1.5em;
  text-align: center;
}
#messageView h2 .content,
#messageView p .content {
  color: #0BBF64;
  margin-top: 1em;
  font-size: 1.8em;
  text-align: center;
}
#messageView form {
  margin-bottom: 1em;
  font-size: 1.8em;
  margin-top: 3em;
}
#messageView form fieldset {
  border: 1px solid #0B5EBF;
  border-radius: 5px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(255, 255, 255, 0.3);
}
#messageView form fieldset legend {
  color: #0B5EBF;
  font-weight: bold;
  padding: 0 0.5em;
}
#messageView form fieldset button {
  padding: 0.5em 1em;
  font-weight: bold;
  color: #0B5EBF;
  background-color: #FFAA11;
  border: 1px solid #0B5EBF;
  border-radius: 5px;
  cursor: pointer;
}
#messageView form fieldset button:hover {
  background-color: #0BBF64;
}
@media screen and (min-width: 481px) {
  #messageView .form-container {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  #messageView form {
    display: flex;
    justify-content: space-around;
  }
  #messageView form fieldset {
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
  #messageView form fieldset button {
    text-align: center;
  }
  #messageView h1 {
    font-size: 2.5em;
  }
  #messageView h2,
  #messageView p {
    font-size: 1.8em;
  }
}
@media screen and (min-width: 769px) {
  #messageView h1 {
    font-size: 3.2em;
  }
  #messageView h2,
  #messageView p {
    font-size: 2.5em;
    margin: 1em;
    text-align: center;
  }
  #messageView form fieldset button {
    font-size: 1.5em;
  }
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

#messagesEdit {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 1em;
  background-color: #D3D3D3;
}
#messagesEdit h1 {
  text-align: center;
  margin-bottom: 0.5em;
  color: #0B5EBF;
  font-weight: bold;
  font-size: 2em;
  padding: 0.5em;
  border: 1px solid #0B5EBF;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(255, 255, 255, 0.3);
  background-color: #D3D3D3;
}
#messagesEdit form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#messagesEdit form fieldset {
  width: 90%;
  border: 1px solid #0B5EBF;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(255, 255, 255, 0.3);
  background-color: #D3D3D3;
  padding: 1em;
  margin: 0.5em 0;
}
#messagesEdit form fieldset label {
  margin-bottom: 0.5em;
  color: #0B5EBF;
  font-size: 1.8em;
}
#messagesEdit form fieldset input,
#messagesEdit form fieldset textarea {
  width: 100%;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid #0B5EBF;
  margin-bottom: 1em;
  font-size: 1.8em;
}
#messagesEdit form fieldset input[type=submit] {
  display: block;
  margin: 0 auto;
  width: auto;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-weight: bold;
  background-color: #FFAA11;
  color: #0B5EBF;
}
#messagesEdit form fieldset input[type=submit]:hover {
  background-color: #0BBF64;
}
#messagesEdit a {
  margin-top: 1em;
  color: #0B5EBF;
  text-decoration: none;
  font-size: 2em;
  text-decoration: underline;
}
#messagesEdit a:hover {
  color: #0BBF64;
}
@media screen and (min-width: 481px) {
  #messagesEdit h1 {
    font-size: 2.5em;
  }
  #messagesEdit form fieldset input,
  #messagesEdit form fieldset textarea {
    font-size: 1.2em;
  }
  #messagesEdit form fieldset input[type=submit] {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 769px) {
  #messagesEdit h1 {
    font-size: 3em;
  }
  #messagesEdit form fieldset input,
  #messagesEdit form fieldset textarea {
    font-size: 1.5em;
  }
  #messagesEdit form fieldset input[type=submit] {
    font-size: 1.5em;
  }
}

body,
p {
  font-family: "Lexend", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

button,
.cta {
  font-family: "Oswald", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px*/
}

#updateProfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;
  background-color: #D3D3D3;
  text-align: center;
}
#updateProfil .message {
  background-color: #0BBF64;
  border: 1px solid #d6e9c6;
  color: #0B5EBF;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}
#updateProfil h1 {
  display: inline-block;
  text-align: center;
  margin-bottom: 0.5em;
  color: #0B5EBF;
  font-weight: bold;
  font-size: 2.1em;
  padding: 0.5em;
  font-family: "Lato", sans-serif;
  border: 1px solid #0B5EBF;
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(255, 255, 255, 0.3);
}
#updateProfil h2 {
  color: #0B5EBF;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}
#updateProfil span {
  font-weight: bold;
  text-transform: uppercase;
}
#updateProfil form {
  width: 100%;
  max-width: 400px;
}
#updateProfil form fieldset {
  border: none;
  margin-bottom: 1em;
}
#updateProfil form fieldset label {
  display: block;
  margin-bottom: 1em;
  color: #0B5EBF;
  font-weight: bold;
  font-size: 1.8em;
}
#updateProfil form fieldset input {
  width: 100%;
  padding: 1em;
  border-radius: 4px;
  border: 1px solid #0B5EBF;
}
#updateProfil form fieldset input[type=submit] {
  background-color: #FFAA11;
  color: #0B5EBF;
  font-size: 1.8em;
  border: none;
  padding: 1em;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  border-radius: 5px;
}
#updateProfil form fieldset input[type=submit]:hover {
  background-color: #0BBF64;
}
@media screen and (min-width: 481px) {
  #updateProfil form fieldset label,
  #updateProfil form fieldset input {
    font-size: 1.2em;
  }
  #updateProfil h1 {
    font-size: 2.5em;
  }
  #updateProfil h2 {
    font-size: 2em;
  }
}
@media screen and (min-width: 769px) {
  #updateProfil form fieldset label,
  #updateProfil form fieldset input {
    font-size: 1.5em;
  }
  #updateProfil h1 {
    font-size: 3em;
  }
  #updateProfil h2 {
    font-size: 2.5em;
  }
}

/*# sourceMappingURL=main.css.map */
